* {
    box-sizing: border-box;
}


html {
    font-size: 100%;
    color: #070707;
    font-style: normal;
    text-align: center;
}

body {}

/* links */

a:link {
    text-decoration: none;
    color: inherit
}

a:visited {
    text-decoration: none;
    color: inherit
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 2px;
}

h2 {
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 1.3px;
}

h3 {
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1.3px;
}

h4 {
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.9px;
}

h5 {
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0;
}

h6 {
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.9px;
}

/* navigation */

Nav {
    height: 46px;
    background-color: #070707;
    color: #FFFFFF;
}

/* main */

#card1 {
    height: 25px;
    background-color: #FFA6B7;
    color: #FDE5E5;
    padding: 3px;
}

#card2a {
    margin-top: 15px;
}

.logo {
    width: 200px;
}

#card2b {
    height: 45px;
}

#section3 {
    margin-top: 35px;
}

#card3a {
    width: 185px;
    height: 237px;
    background-color: blue;
}

#card3b {
    width: 185px;
    height: 237px;
    background-color: aqua;
}

#card3c {
    width: 185px;
    height: 237px;
    background-color: rebeccapurple;
}

#card3d {
    width: 185px;
    height: 237px;
    background-color: red;
}

#card3e {
    width: 185px;
    height: 237px;
    background-color: green;
}

#card3f {
    margin-top: 35px;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  transform: rotate(8deg);
  justify-content: center;
}


.card {
    flex: 0 0 auto;
    margin-left: 8px;
    margin-right: 8px;
  }


