* {
    box-sizing: border-box;
}


html {
    font-size: 100%;
    color: #070707;
    font-style: normal;
    text-align: center;
}

body {}

/* links */

a:link {
    text-decoration: none;
    color: inherit
}

a:visited {
    text-decoration: none;
    color: inherit
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 2px;
}

h2 {
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 1.3px;
}

h3 {
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1.3px;
}

h4 {
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.9px;
}

h5 {
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0;
}

h6 {
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.9px;
}

/* navigation */

Nav {
    height: 46px;
    background-color: #070707;
    color: #FFFFFF;
}

/* main */

#card1 {
    height: 25px;
    background-color: #FFA6B7;
    color: #FDE5E5;
    padding: 3px;
}

#card2a {
    margin-top: 15px;
}

.logo {
    width: 200px;
}

#card2b {
    height: 45px;
}

#section3 {
    margin-top: 35px;
}

#card3a {
    width: 1px;
    height: 237px;
    background-color: white;
    margin-right: 16px;
}

#card3b {
    width: 185px;
    height: 237px;
    background-color: aqua;
    margin-right: 16px;
}

#card3c {
    width: 185px;
    height: 237px;
    background-color: rebeccapurple;
    margin-right: 16px;
}

#card3d {
    width: 185px;
    height: 237px;
    background-color: red;
    margin-right: 16px;
}

#card3e {
    width: 185px;
    height: 237px;
    background-color: green;
    margin-right: 16px;
}

#card3f{
    width: 185px;
    height: 237px;
    background-color: green;
}

#card3g {
    width: 1px;
    height: 237px;
    background-color: white;
    margin-left: 16px;
}
#card3h {
    margin-top: 35px;
}

#section4 {
    margin-top: 35px;
}

#card4a {
    width: 1px;
    height: 237px;
    background-color: white;
    margin-right: 16px;
}

#card4b {
    width: 185px;
    height: 237px;
    background-color: aqua;
    margin-right: 16px;
}

#card4c {
    width: 185px;
    height: 237px;
    background-color: rebeccapurple;
    margin-right: 16px;
}

#card4d {
    width: 185px;
    height: 237px;
    background-color: red;
    margin-right: 16px;
}

#card4e {
    width: 185px;
    height: 237px;
    background-color: green;
    margin-right: 16px;
}

#card4f{
    width: 185px;
    height: 237px;
    background-color: green;
}

#card4g {
    width: 1px;
    height: 237px;
    background-color: white;
    margin-left: 16px;
}
#card4h {
    margin-top: 35px;
}

#name {
    padding-top: 130px;
    transform: rotate(-8deg);
    margin-left: -12px;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  transform: rotate(8deg);
  justify-content: space-between;
}

.card {
    flex: 0 0 auto;
  }

#section5 {
    
}
